

<div class="container-cursos">
<h1>Cursos</h1>
    <ul class="course-list">
        {{#each cursos}}
            <li class="course-item">
            <div class="div-curso">
                <img class="img-curso" src="{{this.imagem}}" alt="Imagem do curso">
                <div class="div-info-curso">
                    <h2>{{this.titulo}}</h2>
                    <span style="margin-bottom: 20px;">{{this.descricao}}</span>

                    <div class="div-avaliacao-home">
                        <ul class="estrelas">
                            <li class="estrela {{#if ( maiorOuIgual this.nivelEstrela 1 ) }} estrela-amarela {{else}} estrela-preta {{/if}}"></li>
                            <li class="estrela {{#if ( maiorOuIgual this.nivelEstrela 2 ) }} estrela-amarela {{else}} estrela-preta {{/if}}"></li>
                            <li class="estrela {{#if ( maiorOuIgual this.nivelEstrela 3 ) }} estrela-amarela {{else}} estrela-preta {{/if}}"></li>
                            <li class="estrela {{#if ( maiorOuIgual this.nivelEstrela 4 ) }} estrela-amarela {{else}} estrela-preta {{/if}}"></li>
                            <li class="estrela {{#if ( maiorOuIgual this.nivelEstrela 5 ) }} estrela-amarela {{else}} estrela-preta {{/if}}"></li>
                        </ul>
                        <div class="qtd-avaliacao">
                            <label style="">({{this.qtdAvaliacoes}}) </label>                                         
                        </div>
                    </div>

                    <div class="btn-visualizar-msg-incricao" style="display: flex;">
                        <a href="/curso/visualizarAulas/{{this.id}}" class="btn btn-visualizar">Visualizar</a>
                        {{#if (and ../usuarioAutenticado this.usuarioInscrito)}}
                        <div id="div-texto-icone" style="background-color: transparent !important; text-alight: center; height: 55px; color:#696969;">
                            <span style="font-size: larger;">Inscrição realizada</span>
                            <i class="bi bi-check-lg fs-5"></i>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>